<html>

    <head>
        <title>
            Invoice {{ invoice.id }}
        </title>
    </head>

    <body>
      <section class="address">
      <p id="fromaddress">
        <u>Your great company Ltd., A steet 21, 01234 Inacity</u>
      </p>
      <p id="toaddress">
        {% for line in invoice.address %}{{ line}} <br />
        {% endfor %}
      </p>
      </section>

      <section class="infoheader">
        <table class="infoheader">
            <tr>
                <th class="infoheader left">Invoice ID</th>
                <th class="infoheader left">Date of Delivery</th>
                <th class="infoheader right">Date of Invoice</th>
            </tr>
            <tr>
                <td class="left">{{ invoice.id }}</td>
                <td class="left">{{ invoice.period }}</td>
                <td class="right">{{ invoice.date }}</td>
            </tr>
        </table>
      </section>

      <h1>Your invoice</h1>

      <section class="aside">

          <embed src="file://{{ invoice.logo_path }}" id="logo"/>

          <p class="aside">
            your great company ltd.<br />
            A street 21<br />
            01234 Inacity
          </p>
          <p class="aside">
            +49 (0)123 4567 890
          </p>
          <p class="aside">
            info@yourcompany.tld<br />
            http://yourcompany.tld
          </p>
          <p class="aside">
            IBAN DE00 0000 0000 0000 0000 00<br />
            BIC ACABBACA<br />
            A Bank
          </p>
          <p class="aside">
            St.-Nr: 000/000/000000<br />
            Ust.-ID: DE00000000000
          </p>
          <p class="asidesmall">
            Court: Inacity
          </p>
      </section>


      <section class="main">
        <p>
        Dear Sir or Madam,<br /><br />
        für die erbrachten Dienstleistungen berechnen wir wie folgt:
        </p>

        <table class="positions">
            <tr>
                <th id="tablepos" class="positionsheader">Pos.</th>
                <th id="tabledesc" class="positionsheader">Description</th>
                <th id="tablesingle" class="positionsheader">Price per item</th>
                <th id="tableamount" class="positionsheader">Quantity</th>
                <th id="tabletotal" class="positionsheader">Subtotal</th>
            </tr>
            {% for position in positions %}
            <tr>
                <td class="positions right">{{ position.position }}</td>
                <td class="positions">{{ position.description }}</td>
                <td class="positions right">{{ position.price }}</td>
                <td class="positions right">{{ position.quantity }}</td>
                <td class="positions right">{{ position.subtotal }}</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4" id="sumdesc" class="right strong">Total without VAT</td>
              <td id="totaltotal" class="right strong">{{ invoice.total_netto }}</td>
            </tr>
            <tr>
              <td colspan="4" id="sumdesc" class="right strong">VAT (19%)</td>
              <td id="totaltotal" class="right strong">{{ invoice.total_ust }}</td>
            </tr>
            <tr>
              <td colspan="4" id="sumdesc" class="right strong">To pay in EUR</td>
              <td id="totaltotal" class="right strong">{{ invoice.total_brutto }}</td>
            </tr>
        </table>

        <p>
        All prices are in EUR and to be paid within 14 days. Please add the invoice number {{
        invoice.id }} or your customer ID {{ invoice.cid }} for reference.</p>

      </section>

    </body>
</html>
