@page {
    size: A4;
    margin: 10mm 15mm 25mm 20mm;
}

@font-face {
    font-family: Delicious;
}

/*  ASIDE SECTION */

section.aside {
  float: right;
  margin-left: 10mm;
  width: 15%;
  height: 100%;
}

p.aside {
  font-size: 10px;
}

p.asidesmall {
  font-size: 9px;
}

#logo {
  width: 100%;
}

/*  MAIN SECTION */

section.main {
  margin-left: 5mm;
}

table.details {
  width: 75%;
  border: 1px solid #000;
  margin: 3mm 0mm 3mm 2mm;
}

td.details {
  border: 1px solid;
  border-color: #000;
  padding: 1mm;
}

th.details{
  padding: 2mm 2mm 1mm 2mm;
  font-size: 14px;
}

td.detailsheader{
  padding: 0mm 2mm 2mm 2mm;
  font-size: 10px;
}

table.bank {
  width: 50%;
  margin: auto;
}

td.left {
  width: 30%;
}

.contactpreferences {
  margin: 3mm 0mm 3mm 2mm;
}

.smallprint {
  width: 75%;
  font-size: 9px;
}

/*  GENERAL STUFF */

h1 {
    font-family: Delicious;
    font-size: 22px;
    margin-left: 5mm;
}

table  {
  width: 100%;
  border-color: #000;
  border-collapse: collapse;
}

p, th, td {
    font-family: Delicious;
    font-size: 11px;
}

p {
  width: 75%;
}

th {
    font-size: 11px;
}

hr {
  margin: 15mm 100mm 0mm 0mm;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.strong {
  font-weight: bold;
}
