<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link href="css" media="print" rel="stylesheet">
    <title>Invoice {{ id }}</title>
    <meta name="description" content="Invoice demo sample">
    <meta name="author" content="Kozea">
</head>

<body>
    <img src="file://{{ logo_path }}" id="logo" width="150" />
    <aside>
        <address id="from">
            {{ company.address | join("<br />") }}
        </address>

        <address id="to">
            {{ address | join("<br />") }}
        </address>
    </aside>

    <dl id="informations">
        <dt>Invoice number</dt>
        <dd>{{ id }}</dd>
        <dt>Date</dt>
        <dd>{{ date }}</dd>
        <dt>Period</dt>
        <dd>{{ period }}</dd>
    </dl>

    <table>
        <thead>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.description }}</td>
                <td>{{ item.price }}€</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.subtotal }}€</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table id="total">
        <thead>
            <th>Account number</th>
            {% if vat > 0 %}
            <th>Total w/o VAT</th>
            <th>VAT ({{ vat }}%)</th>
            {% endif %}
            <th>Final total</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ cid }}</td>
                {% if vat > 0 %}
                <td>{{ total_net }}€</td>
                <td>{{ total_vat }}€</td>
                {% endif %}
                <td>{{ total_gross }}€</td>
        </tbody>
    </table>
    <footer>{{ company.bank | join(" | ") }}</footer>
</body>

</html>
