@page {
    size: A4;
    margin: 10mm 15mm 25mm 20mm;
}

@font-face {
    font-family: Delicious;
}

/*  ADDRESS PART OF THE INVOICE */
.address {
  margin-top: 35mm;
  margin-bottom: 15mm;
}

#fromaddress {
    font-family: Delicious;
    font-size: 11px;
}

#toaddress {
    margin-top: 10mm;
}


/*  INFOHEADER PART OF THE INVOICE */

section.infoheader {
  margin-bottom: 10mm;
  margin-right: 3mm;
}

table.infoheader {
  margin-left: 5mm;
}

th.infoheader {
  font-size: 10px;
  width: 33%
}


/*  ASIDE SECTION */

section.aside {
  float: right;
  margin-left: 10mm;
  width: 15%;
  height: 100%;
}

p.aside {
  font-size: 10px;
}

p.asidesmall {
  font-size: 9px;
}

#logo {
  width: 100%;
}

/*  MAIN SECTION */

section.main {
  margin-left: 5mm;
}

table.positions {
  width: 78%;
}

td.positions {
  border: 1px solid;
  border-color: #000;
  padding: 1mm;
}

th.positionsheader {
  padding: 0mm 2mm 1mm 2mm;
}

#tablepos {
  width: 8%;
}

#tabledesc {
  width: 55%;
}

#tablesingle {
  width: 15%;
}

#tableamount {
  width: 12%;
}

#tabletotal {
  width: 10%;
}

#sumdesc    {
  border: 0px;
  padding: 1mm;
}

#totaltotal {
  padding: 1mm;
}


/*  GENERAL STUFF */

h1 {
    font-family: Delicious;
    font-size: 18px;
    margin-left: 5mm;
}

table  {
  width: 100%;
  border-color: #000;
  border-collapse: collapse;
}

p, th, td {
    font-family: Delicious;
    font-size: 14px;
}

th {
    font-size: 11px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.strong {
  font-weight: bold;
}
